---
// import Accessories from "../components/Accessories.astro";
// import HeroSection from "../components/HeroSection.astro";
// import LandingHeader from "../components/LandingHeader.astro";
// import ModelS from "../components/ModelS.astro";
// import ModelThree from "../components/ModelThree.astro";
// import ModelX from "../components/ModelX.astro";
// import ModelY from "../components/ModelY.astro";
// import PowerWall from "../components/PowerWall.astro";
import { Callout, CalloutProps } from "@tremor/react";
import {
  ExclamationIcon,
  CheckCircleIcon,
  InformationCircleIcon,
  XCircleIcon,
  ExclamationCircleIcon,
} from "@heroicons/react/solid";
import Layout from "../layouts/Layout.astro";
import Table from "./../components/Table.tsx";
import ElementsSecurity from "./../components/ElementsSecurity.tsx";
import AccordionComponent from "./../components/AccordionComponent.tsx";
import DataTablePaginada from "./../components/DataTablePaginada.tsx";
import PillsTabsTable from "./../components/PillsTabTable.tsx";
import TableRow from "./../components/TableRow.tsx";
import { GridColDef } from "@mui/x-data-grid";

type Norma = {
  description: string;
  color: CalloutProps["color"];
  icon: any;
};

const normas: Norma[] = [
  {
    description:
      "No se podrá ingresar elementos diferentes a los necesarios para la realización de las prácticas establecidas.",
    color: "red",
    icon: XCircleIcon,
  },
  {
    description:
      "No se debe consumir bebidas o ningún tipo de alimento dentro del laboratorio.",
    color: "red",
    icon: XCircleIcon,
  },
  {
    description: "El uso de la bata es obligatorio.",
    color: "sky",
    icon: InformationCircleIcon,
  },
  {
    description:
      "La ropa y el calzado deben ser siempre adecuados y deben cubrir la mayor parte del cuerpo.",
    color: "sky",
    icon: InformationCircleIcon,
  },
  {
    description:
      "Evitar el uso de accesorios o prendas como pulseras, relojes o anillos.",
    color: "yellow",
    icon: ExclamationIcon,
  },
  {
    description:
      "Es obligatorio el uso de los diferentes elementos de seguridad como gafas, guantes y máscaras, que protegen de los riesgos que puedan llegar a ocurrir.",
    color: "fuchsia",
    icon: ExclamationCircleIcon,
  },
  {
    description:
      "Antes de hacer uso de cualquier sustancia, verificar las etiquetas y fichas de seguridad.",
    color: "fuchsia",
    icon: ExclamationCircleIcon,
  },
  {
    description:
      "Al momento de almacenar sustancias, los envases siempre deben ser rotulados.",
    color: "sky",
    icon: InformationCircleIcon,
  },
  {
    description:
      "No ingerir ninguna sustancia y en caso de contacto con la piel o con los ojos, proceder a retirar con abundante agua e informar a la persona encargada inmediatamente.",
    color: "red",
    icon: ExclamationIcon,
  },
  {
    description:
      "Al momento de almacenar sustancias, asegurarse de separar los no compatibles, los productos inflamables deben estar separados de los ácidos, bases y reactivos oxidantes, y los envases deben estar en un lugar donde no corran riesgo de caer y romperse.",
    color: "fuchsia",
    icon: ExclamationCircleIcon,
  },
  {
    description:
      "En caso de emergencia, conocer la ubicación de los extintores, duchas de emergencia, lavamanos de seguridad y rutas de evacuación.",
    color: "sky",
    icon: ExclamationCircleIcon,
  },
  {
    description:
      "Informar cualquier incidente o accidente que ocurra en el laboratorio a los docentes o encargados.",
    color: "sky",
    icon: InformationCircleIcon,
  },
  {
    description:
      "Mantener el área de trabajo ordenada y limpia, recoger y desechar correctamente los residuos generados.",
    color: "fuchsia",
    icon: ExclamationCircleIcon,
  },
];

const pictogramasPeligrosos = [
  {
    title: "Peligro para la salud",
    image: "assets/img/pictograma-laboratorio-peligro-salud.jpg",
    items: [
      {
        description: "Carcinógeno",
      },
      {
        description: "Mutagenicidad",
      },
      {
        description: "Toxicidad Reproductiva",
      },
      {
        description: "Sensibilizador respiratorio",
      },
      {
        description: "Toxicidad específica en órganos",
      },
      {
        description: "Toxicidad por aspiración",
      },
    ],
    meaning: [
      {
        description:
          "Puede ser mortal en caso de ingestión y penetración en las vías respiratorias",
      },
      {
        description: "Perjudica a determinados órganos",
      },
      {
        description: "Puede perjudicar a determinados órganos",
      },
      {
        description: "Puede perjudicar la fertilidad o al feto",
      },
      {
        description: "Se sospecha que daña la fertilidad o al feto",
      },
      {
        description: "Puede provocar cáncer",
      },
      {
        description: "Se sospecha que provoca cáncer",
      },
      {
        description: "Puede provocar defectos genéticos",
      },
      {
        description:
          "Puede provocar síntomas de alergia o asma o dificultades respiratorias en caso de inhalación",
      },
      
    ],
    findExamples: [
      {
        description: "Trementina, gasolina, aceite para lámparas",
      },
    ],
    tipsExample: [
      {
        description:
          "En caso de ingestión: llamar inmediatamente a un CENTRO de información toxicológica o a un médico",
      },
      {
        description: "NO provocar el vómito",
      },
      {
        description: "Guardar bajo llave",
      },
      {
        description:
          "No respirar el polvo/el humo/el gas/la niebla/los vapores/el aerosol",
      },
      {
        description: "Lavarse concienzudamente tras la manipulación",
      },
      {
        description: "No comer, beber ni fumar durante su utilización",
      },
      {
        description: "Consultar a un médico en caso de malestar",
      },
      {
        description:
          "En caso de exposición: llamar a un CENTRO de información toxicológica o a un médico",
      },
      {
        description: "Solicitar instrucciones especiales antes del uso",
      },
      {
        description:
          "No manipular la sustancia antes de haber leído y comprendido todas las instrucciones de seguridad",
      },
      {
        description: "Utilizar el equipo de protección individual obligatorio",
      },
      {
        description:
          "En caso de exposición manifiesta o presunta: consultar a un médico",
      },
      {
        description:
          "Evitar respirar el polvo/el humo/el gas/la niebla/los vapores/el aerosol",
      },
      {
        description:
          "En caso de ventilación insuficiente, llevar equipo de protección respiratoria",
      },
      {
        description:
          "En caso de inhalación: si respira con dificultad, transportar a la víctima al exterior y mantenerla en reposo, en una posición en la que pueda respirar confortablemente",
      },
    ],
  },
  {
    title: "Llama",
    image: "assets/img/pictograma-laboratorio-inflamable.jpg",
    items: [
      {
        description: "Inflamables",
      },
      {
        description: "Pirofóricos",
      },
      {
        description: "Autocalentamiento",
      },
      {
        description: "Emite gas inflamable",
      },
      {
        description: "Auto-Reacciones",
      },
      {
        description: "Peróxidos orgánicos",
      },
    ],
    meaning: [
      {
        description: "Gas extremadamente inflamable",
      },
      {
        description: "Gas inflamable",
      },
      {
        description: "Aerosol extremadamente inflamable",
      },
      {
        description: "Aerosol inflamable",
      },
      {
        description: "Líquido y vapores muy inflamables",
      },
      {
        description: "Líquido y vapores inflamables",
      },
      {
        description: "Sólidos inflamables",
      },
    ],
    findExamples: [
      {
        description: "Aceite para lámparas, gasolina, quitaesmaltes",
      },
    ],
    tipsExample: [
      {
        description:
          "No pulverizar sobre una llama abierta u otra fuente de ignición",
      },
      {
        description:
          "Mantener alejado de fuentes de calor, chispas, llama abierta o superficies calientes – No fumar",
      },
      {
        description: "Mantener el recipiente cerrado herméticamente",
      },
      {
        description: "Mantener en lugar fresco",
      },
      {
        description: "Proteger de la luz del sol",
      },
    ],
  },
  {
    title: "Signo de exclamación",
    image: "assets/img/pictograma-peligro-grave.jpg",
    items: [
      { description: "Irritante (piel y ojos)" },
      { description: "Sensibilizador de la piel" },
      { description: "Toxicidad aguda (nociva)" },
      { description: "Efectos narcóticos" },
      { description: "Irritante del tracto respiratorio" },
      { description: "Peligroso para la capa de ozono (No obligatorio)" }
    ],
    meaning: [
    { description: "Puede irritar las vías respiratorias" },
    { description: "Puede provocar somnolencia o vértigo" },
    { description: "Puede provocar una reacción alérgica en la piel" },
    { description: "Provoca irritación ocular grave" },
    { description: "Provoca irritación cutánea" },
    { description: "Nocivo en caso de ingestión" },
    { description: "Nocivo en contacto con la piel" },
    { description: "Nocivo en caso de inhalación" },
    { description: "Nociva para la salud pública y el medio ambiente por destruir el ozono estratosférico" }
    ],
    findExamples: [
    { description: "Detergentes para lavadoras" },
    { description: "Limpiadores de inodoros" },
    { description: "Líquidos refrigerantes" }
    ],
    tipsExample: [
    { description: "Evitar respirar el polvo/el humo/el gas/la niebla/los vapores/el aerosol" },
  { description: "Utilizar únicamente en exteriores o en un lugar bien ventilado" },
  { description: "En caso de inhalación: transportar a la víctima al exterior y mantenerla en reposo en una posición confortable para respirar" },
  { description: "En caso de ingestión: llamar a un CENTRO de información toxicológica o a un médico en caso de malestar" },
  { description: "Llevar guantes/prendas/gafas/máscara de protección" },
  { description: "En caso de contacto con la piel: lavar con agua y jabón abundantes" },
  { description: "En caso de contacto con los ojos: aclarar cuidadosamente con agua durante varios minutos. Quitar las lentes de contacto, si lleva y resulta fácil. Seguir aclarando" },
  { description: "No comer, beber ni fumar durante su utilización" }
    ],
  },
  {
    title: "Cilindro de Gas",
    image: "assets/img/pictograma-laboratorio-gas-presion.jpg",
    items: [
      { description: "•	Gases bajo presión" }
    ],
    meaning: [
    { description: "Contiene gas a presión; peligro de explosión en caso de calentamiento" },
  { description: "Contiene gas refrigerado; puede provocar quemaduras o lesiones criogénicas" }
    ],
    findExamples: [
    { description: "Botellas de gas" }
    ],
    tipsExample: [
    { description: "Proteger de la luz del sol" },
  { description: "Llevar guantes/gafas/máscara que aíslen del frío" },
  { description: "Consultar a un médico inmediatamente" }
    ],
  },
  {
    title: "Corrosión",
    image: "assets/img/pictograma-laboratorio-corrosivo.jpg",
    items: [
      { description: "Corrosión / quemaduras en la piel" },
      { description: "Daño ocular" },
      { description: "Corrosivo a los metales" }
    ],
    meaning: [
    { description: "Puede ser corrosivo para los metales" },
  { description: "Provoca quemaduras graves en la piel y lesiones oculares graves" }
    ],
    findExamples: [
    { description: "Desatascadores de tuberías" },
  { description: "Ácido acético" },
  { description: "Ácido hidroclorídrico" },
  { description: "Amoníaco" }
    ],
    tipsExample: [
    { description: "No respirar el polvo/el humo/el gas/la niebla/los vapores/el aerosol" },
  { description: "Lavarse concienzudamente tras la manipulación" },
  { description: "Llevar guantes/prendas/gafas/máscara de protección" },
  { description: "Guardar bajo llave" },
  { description: "Conservar únicamente en el recipiente original" }
]
},
{
  title: "Bomba explosiva",
  image: "assets/img/pictograma-laboratorio-explosivo.jpg",
  items: [
    { description: "Explosivos" },
    { description: "Reactivos propios" },
    { description: "Peróxidos orgánicos" }
  ],
  meaning: [
    {
      description: "Explosivo inestable"
    },
    {
      description: "Explosivo, peligro de explosión en masa"
    },
    {
      description: "Explosivo, grave peligro de proyección"
    },
    {
      description: "Explosivo, peligro de incendio, de onda expansiva o de proyección"
    },
    {
      description: "Peligro de explosión en masa en caso de incendio"
    }
  ],
  findExamples: [
    { description: "Fuegos artificiales" },
    { description: "Municion" }
  ],
  tipsExample: [
    { description: "Solicitar instrucciones especiales antes del uso" },
    { description: "No manipular la sustancia antes de haber leído y comprendido todas las instrucciones de seguridad" },
    { description: "Mantener alejado de fuentes de calor, chispas, llama abierta o superficies calientes - No fumar" },
    { description: "Llevar guantes/prendas/gafas/máscara de protección" },
    { description: "Utilizar el equipo de protección individual obligatorio" },
    { description: "Riesgo de explosión en caso de incendio" }
  ],
},
  {
    title: "Llama sobre un círculo",
    image: "assets/img/pictograma-laboratorio-comburente.jpg",
    items: [
      { description: "Oxidantes" }
    ],
    meaning: [
    { description: "Puede provocar o agravar un incendio; comburente" },
  { description: "Puede provocar un incendio o una explosión; muy comburente" },
    ],
    findExamples: [
    { description: "Lejía" },
  { description: "Oxígeno para usos médicos" },
    ],
    tipsExample: [
    { description: "Mantener alejado de fuentes de calor, chispas, llama abierta o superficies calientes - No fumar" },
  { description: "Llevar guantes/prendas/gafas/máscara de protección" },
  { description: "Aclarar inmediatamente con agua abundante las prendas y la piel contaminadas antes de quitarse la ropa" }
    ],
  },
  {
  title: "Medio ambiente",
  image: "assets/img/pictograma-peligro-medio-ambiental.jpg",
  items: [
    { description: "Toxicidad acuática" },
  ],
  meaning: [
  { description: "Muy tóxico para los organismos acuáticos, con efectos nocivos duraderos" },
  { description: "Tóxico para los organismos acuáticos, con efectos nocivos duraderos" },
  ],
  findExamples: [
  { description: "Plaguicidas" },
  { description: "Biocidas" },
  { description: "Gasolina" },
  { description: "Trementina" },
  ],
  tipsExample: [
  { description: "Evitar su liberación al medio ambiente" },
  { description: "Recoger el vertido" }
  ],
},
{
  title: "Calavera/ dos tibias cruzadas",
  image: "assets/img/pictograma-laboratorio-toxico.jpg",
  items: [
    { description: "Toxicidad aguda (fatal o tóxica)" },
  ],
  meaning: [
  { description: "Mortal en caso de ingestión" },
  { description: "Mortal en contacto con la piel" },
  { description: "Mortal en caso de inhalación" },
  { description: "Tóxico en caso de ingestión" },
  { description: "Tóxico en contacto con la piel" },
  { description: "Tóxico por inhalación" },
  ],
  findExamples: [
  { description: "Plaguicidas" },
  { description: "Biocidas" },
  { description: "Metanol" },
  ],
  tipsExample: [
  { description: "Lavarse concienzudamente tras la manipulación" },
  { description: "No comer, beber ni fumar durante su utilización" },
  { description: "En caso de ingestión: llamar inmediatamente a un CENTRO de información toxicológica o a un médico" },
  { description: "Enjuagarse la boca" },
  { description: "Almacenar en un recipiente cerrado" },
  { description: "Evitar el contacto con los ojos, la piel o la ropa" },
  { description: "Llevar guantes/prendas/gafas/máscara de protección" },
  { description: "En caso de contacto con la piel: lavar suavemente con agua y jabón abundantes" },
  { description: "Quitarse inmediatamente las prendas contaminadas" },
  { description: "Lavar las prendas contaminadas antes de volverlas a utilizar" },
  { description: "No respirar el polvo/el humo/el gas/la niebla/los vapores/el aerosol" },
  { description: "Utilizar únicamente en exteriores o en un lugar bien ventilado" },
  { description: "Llevar equipo de protección respiratoria" },
  { description: "En caso de inhalación: transportar a la víctima al exterior y mantenerla en reposo en una posición confortable para respirar" },
  { description: "Guardar bajo llave" }
  ],
},
];

const categoriasReactivos = [
  {
    category: 'Categoría 1',
    description: 'Extremadamente peligroso',
    color: 'red'
  },
  {
    category: 'Categoría 2',
    description: 'Categoría 2: Altamente peligroso',
    color: 'red'
  },
  {
    category: 'Categoría 3',
    description: 'Moderadamente peligroso',
    color: 'yellow'
  },
  {
    category: 'Categoría 4',
    description: 'Ligeramente peligroso',
    color: 'blue'
  },
]

const rowsFirstDT = [
  {
    id: 1,
    nombre: "1,2 Dicloretano 99,9%",
    propiedades: [
      "Toxicidad aguda oral",
      "Toxicidad aguda por inhalación - Vapores",
      "Corrosión o irritación cutáneas",
      "Lesiones o irritación ocular graves",
      "Carcinogenicidad",
      "Toxicidad específica del órgano blanco - (única exposición)",
    ],
    categorias: [
      "Categoría 4 (H302)",
      "Categoría 3 (H331)",
      "Categoría 2 (H315)",
      "Categoría 2 (H319)",
      "Categoría 1B (H350)",
      "Categoría 3 (H335) (H336)",
    ],
    tipo: "Hidrocarburo clorado",
  },
  {
    id: 2,
    nombre: "1,4 dioxano 99,5%",
    propiedades: [
      "Líquido inflamable",
      "Lesiones o irritación ocular graves",
      "Carcinogenicidad",
      "Toxicidad específica del órgano blanco - (única exposición)",
    ],
    categorias: [
      "Categoría 2 (H225)",
      "Categoría 2 (H319)",
      "Categoría 2 (H351)",
      "Categoría 3 (H335)",
    ],
    tipo: "Éter",
  },
  {
    id: 3,
    nombre: "1- Hexanol 98%",
    propiedades: [
      "Toxicidad aguda oral",
      "Toxicidad aguda cutánea",
      "Lesiones o irritación ocular graves",
      "Líquido inflamable",
    ],
    categorias: [
      "Categoría 4 (H302)",
      "Categoría 4 (H312)",
      "Categoría 2 (H319)",
      "Categoría 3 (H226)",
    ],
    tipo: "Alcohol",
  },
  {
    id: 4,
    nombre: "Acetato de etilo 99%",
    propiedades: [
      "Líquidos inflamables",
      "Lesiones o irritación ocular graves",
      "Toxicidad específica del órgano blanco - (única exposición)",
    ],
    categorias: [
      "Categoría 2 (H225)",
      "Categoría 2 (H319)",
      "Categoría 3 (H336)",
    ],
    tipo: "Ester acetona",
  },
  {
    id: 5,
    nombre: "Acetona 99,8%",
    propiedades: [
      "Líquidos inflamables",
      "Lesiones o irritación ocular graves",
      "Toxicidad específica del órgano blanco - (única exposición)",
    ],
    categorias: [
      "Categoría 2 (H225)",
      "Categoría 2 (H319)",
      "Categoría 3 (H336)",
    ],
    tipo: "Cetona",
  },
  {
    id: 6,
    nombre: "Ácido acético 99,5%",
    propiedades: [
      "Líquidos inflamables",
      "Corrosión o irritación cutáneas",
      "Lesiones o irritación ocular graves",
    ],
    categorias: [
      "Categoría 3 (H226)",
      "Categoría 1A (H314)",
      "Categoría 1 (H318)",
    ],
    tipo: "Ácidos",
  },
  {
    id: 7,
    nombre: "Ácido clorhídrico 36,5- 38%",
    propiedades: [
      "Corrosivos para los metales",
      "Corrosión o irritación cutáneas",
      "Lesiones oculares graves o irritación ocular",
      "Toxicidad específica en determinados órganos",
    ],
    categorias: [
      "Categoría 1 (H290)",
      "Categoría 1B (H314)",
      "Categoría 1 (H318)",
      "Categoría 3 (H335)",
    ],
    tipo: "Ácidos",
  },
  {
    id: 8,
    nombre: "Ácido nítrico 65%",
    propiedades: [
      "Líquidos comburentes",
      "Sustancias/mezclas corrosivas para los metales",
      "Toxicidad aguda por inhalación - Vapores",
      "Corrosión o irritación cutáneas",
      "Lesiones o irritación ocular graves",
    ],
    categorias: [
      "Categoría 3 (H272)",
      "Categoría 1 (H290)",
      "Categoría 3 (H331)",
      "Categoría 1 (H314) A",
      "Categoría 1 (H318)",
    ],
    tipo: "Ácidos",
  },
  {
    id: 9,
    nombre: "Acido orto fosfórico 85%",
    propiedades: [
      "Corrosión o irritación cutáneas",
      "Lesiones o irritación ocular graves",
    ],
    categorias: [
      "Categoría 1B (H314)",
      "Categoría 1 (H318)",
    ],
    tipo: "Ácidos",
  },
  {
    id: 10,
    nombre: "Ácido sulfúrico 95-98%",
    propiedades: [
      "Corrosión o irritación cutáneas",
      "Lesiones o irritación ocular graves",
    ],
    categorias: [
      "Categoría 1A (H314)",
      "Categoría 1 (H318)",
    ],
    tipo: "Ácidos",
  },
  {
    id: 11,
    nombre: "Alcohol isopropílico 99,5%",
    propiedades: [
      "Líquidos inflamables",
      "Lesiones o irritación ocular graves",
      "Toxicidad específica del órgano blanco",
    ],
    categorias: [
      "Categoría 2 (H225)",
      "Categoría 2 (H319)",
      "Categoría 3 (H336)",
    ],
    tipo: "Alcohol",
  },
  {
    id: 12,
    nombre: "Amoniaco 25 - 30%",
    propiedades: [
      "Corrosión cutánea",
      "Toxicidad especifica en determinados órganos exposición única",
      "Toxicidad acuática aguda",
    ],
    categorias: [
      "Categoría 1B (H314)",
      "Categoría 3 (H335)",
      "Categoría 1 (H400)",
    ],
    tipo: "Base",
  },
  {
    id: 13,
    nombre: "Anhidrido acético 99%",
    propiedades: [
      "Líquidos inflamables",
      "Toxicidad aguda oral",
      "Toxicidad aguda por inhalación - Vapores",
      "Corrosión o irritación cutáneas",
      "Lesiones o irritación ocular graves",
    ],
    categorias: [
      "Categoría 3 (H226)",
      "Categoría 4 (H302)",
      "Categoría 2 (H330)",
      "Categoría 1B (H314)",
      "Categoría 1 (H318)",
    ],
    tipo: "Anhidrido ácido",
  },
  {
    id: 14,
    nombre: "Arsenito de sodio solución",
    propiedades: [
      "Toxicidad aguda oral",
      "Toxicidad aguda cutánea",
      "Toxicidad aguda por inhalación - Polvos y nieblas",
      "Carcinogenicidad",
      "Toxicidad acuática aguda",
      "Toxicidad acuática crónica"
    ],
    categorias: [
      "Categoría 2 (H300)",
      "Categoría 2 (H310)",
      "Categoría 3 (H331)",
      "Categoría 1A (H350)",
      "Categoría 1 (H400)",
      "Categoría 1 (H410)"
    ],
    tipo: "Sal inorgánica"
  },
  {
    id: 15,
    nombre: "Benceno 99,8%",
    propiedades: [
      "Líquidos inflamables",
      "Toxicidad por aspiración",
      "Toxicidad aguda por inhalación - Vapores",
      "Toxicidad para la reproducción",
      "Toxicidad acuática crónica"
    ],
    categorias: [
      "Categoría 3 (H226)",
      "Categoría 1 (H304)",
      "Categoría 3 (H331)",
      "Categoría 2 (H361)",
      "Categoría 2 (H411)"
    ],
    tipo: "Hidrocarburo"
  },
  {
    id: 16,
    nombre: "Ciclohexano 99,5%",
    propiedades: [
      "Líquidos inflamables",
      "Toxicidad por aspiración",
      "Corrosión o irritación cutáneas",
      "Toxicidad específica del órgano blanco - (única exposición)",
      "Toxicidad acuática aguda",
      "Toxicidad acuática crónica"
    ],
    categorias: [
      "Categoría 2 (H225)",
      "Categoría 1 (H304)",
      "Categoría 2 (H315)",
      "Categoría 3 (H336)",
      "Categoría 1 (H400)",
      "Categoría 1 (H410)"
    ],
    tipo: "Hidrocarburo alifático cíclico"
  },
  {
    id: 17,
    nombre: "Cloroformo",
    propiedades: [
      "Toxicidad aguda oral",
      "Toxicidad aguda por inhalación - Vapores",
      "Corrosión o irritación cutáneas",
      "Lesiones o irritación ocular graves",
      "Carcinogenicidad",
      "Toxicidad para la reproducción",
      "Toxicidad específica del órgano blanco - (única exposición)",
      "Toxicidad específica del órgano blanco - (exposición repetida)"
    ],
    categorias: [
      "Categoría 4 (H302)",
      "Categoría 3 (H331)",
      "Categoría 2 (H315)",
      "Categoría 2 (H319)",
      "Categoría 2 (H351)",
      "Categoría 2 (H361d)",
      "Categoría 3 (H336)",
      "Categoría 1 (H372)"
    ],
    tipo: "Hidrocarburo clorado"
  },
  {
    id: 18,
    nombre: "Cloruro de sebacoilo acido",
    propiedades: [
      "Sustancias/mezclas corrosivas para los metales",
      "Toxicidad aguda oral",
      "Toxicidad aguda cutánea",
      "Corrosión o irritación cutáneas",
      "Lesiones o irritación ocular graves"
    ],
    categorias: [
      "Categoría 1 (H290)",
      "Categoría 4 (H302)",
      "Categoría 2 (H310)",
      "Categoría 1B (H314)",
      "Categoría 1 (H318)"
    ],
    tipo: "Ácidos"
  },
  {
    id: 19,
    nombre: "Diclorometano",
    propiedades: [
      "Corrosión o irritación cutáneas",
      "Lesiones o irritación ocular graves",
      "Carcinogenicidad",
      "Toxicidad específica del órgano blanco - (única exposición)"
    ],
    categorias: [
      "Categoría 2 (H315)",
      "Categoría 2 (H319)",
      "Categoría 2 (H351)",
      "Categoría 3 (H336)"
    ],
    tipo: "Hidrocarburo clorado"
  },
  {
    id: 20,
    nombre: "Etanol",
    propiedades: [
      "Líquidos inflamables",
      "Lesiones o irritación ocular graves"
    ],
    categorias: [
      "Categoría 2 (H225)",
      "Categoría 2 (H319)"
    ],
    tipo: "Alcoholes"
  },
  {
    id: 21,
    nombre: "Etanolamina 99%",
    propiedades: [
      "Toxicidad aguda",
      "Corrosión cutáneas"
    ],
    categorias: [
      "Categoría 4 (H302) (332) (312)",
      "Categoría 1B H314"
    ],
    tipo: "Aminas"
  },
  {
    id: 22,
    nombre: "Éter etílico 99,7%",
    propiedades: [
      "Líquidos inflamables",
      "Toxicidad aguda oral",
      "Toxicidad específica del órgano blanco - (única exposición)"
    ],
    categorias: [
      "Categoría 1 (H224)",
      "Categoría 4 (H302)",
      "Categoría 3 (H336)"
    ],
    tipo: "Éter"
  },
  {
    id: 23,
    nombre: "Hexamethylene disocyanate 98%",
    propiedades: [
      "Toxicidad aguda oral",
      "Toxicidad aguda por inhalación - Vapores",
      "Corrosión o irritación cutáneas",
      "Lesiones o irritación ocular graves",
      "Sensibilización respiratoria",
      "Sensibilización cutánea"
    ],
    categorias: [
      "Categoría 4 (H302)",
      "Categoría 1 (H330)",
      "Categoría 1C (H314)",
      "Categoría 1 (H318)",
      "Categoría 1 (H334)",
      "Categoría 1 (H317)"
    ],
    tipo: "Isocianato"
  },
  {
    id: 24,
    nombre: "Hidrogeno Peróxido 30%",
    propiedades: [
      "Líquidos comburentes",
      "Toxicidad aguda oral",
      "Toxicidad aguda por inhalación - Polvos y nieblas",
      "Lesiones o irritación ocular graves"
    ],
    categorias: [
      "Categoría 2 (H272)",
      "Categoría 4 (H302)",
      "Categoría 4 (H332)",
      "Categoría 1 (H318)"
    ],
    tipo: "Peróxido"
  },
  {
    id: 25,
    nombre: "Isopropoxido de titanio",
    propiedades: [
      "Líquidos inflamables",
      "Lesiones o irritación ocular graves",
      "Toxicidad específica del órgano blanco - (única exposición)"
    ],
    categorias: [
      "Categoría 3 (H226)",
      "Categoría 2 (H319)",
      "Categoría 3 (H336)"
    ],
    tipo: "Alifático"
  },
  {
    id: 26,
    nombre: "Metanol 99,8%",
    propiedades: [
      "Líquidos inflamables",
      "Toxicidad aguda oral",
      "Toxicidad aguda cutánea",
      "Toxicidad aguda por inhalación - Vapores",
      "Toxicidad específica del órgano blanco - (única exposición)"
    ],
    categorias: [
      "Categoría 2 (H225)",
      "Categoría 3 (H301)",
      "Categoría 3 (H311)",
      "Categoría 3 (H331)",
      "Categoría 1 (H370)"
    ],
    tipo: "Alcohol"
  },
  {
    id: 27,
    nombre: "N-Butanol 99,5%",
    propiedades: [
      "Líquidos inflamables",
      "Toxicidad aguda (oral)",
      "Corrosión o irritación cutáneas",
      "Lesiones oculares graves o irritación ocular",
      "Toxicidad específica (irritación de las vías respiratorias)",
      "Toxicidad específica (efectos narcóticos, somnolencia)"
    ],
    categorias: [
      "Categoría 3 (H226)",
      "Categoría 4 (H302)",
      "Categoría 2 (H315)",
      "Categoría 1 (H318)",
      "Categoría 3 (H335)",
      "Categoría 3 (H336)"
    ],
    tipo: "Alcohol"
  },
  {
    id: 28,
    nombre: "N-hexano 95%",
    propiedades: [
      "Líquidos inflamables",
      "Toxicidad por aspiración",
      "Corrosión o irritación cutáneas",
      "Toxicidad para la reproducción",
      "Toxicidad específica del órgano blanco - (única exposición)",
      "Toxicidad específica del órgano blanco - (exposición repetida)",
      "Toxicidad acuática crónica"
    ],
    categorias: [
      "Categoría 2 (H225)",
      "Categoría 1 (H304)",
      "Categoría 2 (H315)",
      "Categoría 2 (H361)",
      "Categoría 2 (H373)",
      "Categoría 1 (H410)"
    ],
    tipo: "Hidrocarburo"
  },
  {
    id: 29,
    nombre: "Parafina liquida",
    propiedades: [
      "Lesiones o irritación ocular graves ",
    ],
    categorias: [
      "Categoría 2 (H319)"
    ],
    tipo: "Hidrocarburo alifático"
  },
  {
    id: 30,
    nombre: "Tetrahidrofurano 99,9%",
    propiedades: [
      "Líquidos inflamables",
      "Toxicidad aguda oral",
      "Toxicidad aguda por inhalación - Vapores",
      "Toxicidad específica del órgano blanco - (única exposición)"
    ],
    categorias: [
      "Categoría 2 (H225)",
      "Categoría 4 (H302)",
      "Categoría 2 (H330)",
      "Categoría 1 (H373)"
    ],
    tipo: "Éter"
  }
]

const residuos = [
  {
    tipo: "Disolventes halógenos",
    especificaciones: "Son líquidos orgánicos, muy tóxicos, irritantes y, en algún caso, cancerígenos, con unos contenidos superiores al 2% de algún halógeno."
  },
  {
    tipo: "Disolventes no halogenados",
    especificaciones: "Estas son líquidos orgánicos, tóxicos e irritantes con una concentración menor de 2% de algún halógeno. Ejemplo: alcoholes, éter, tolueno."
  },
  {
    tipo: "Disoluciones Acuosas",
    especificaciones: "Esta es una mezcla homogénea formada por un soluto y un solvente."
  },
  {
    tipo: "Ácidos",
    especificaciones: "Mezcla de compuestos de grupos distintos, sin que haya ninguno mayoritario ni especialmente tóxico y/o peligroso y con valores de pH ácidos o muy ácidos (entre 0 y 4)."
  },
  {
    tipo: "Aceites",
    especificaciones: "Este grupo pertenece a los aceites minerales obtenidos de operaciones de un equipo como su motor, o la trasmisión mecánica, y de la bomba de vacío."
  },
  {
    tipo: "Acrilamida",
    especificaciones: "La acrilamida es una sustancia química que se usa principalmente para hacer compuestos químicos llamados copolímero de poliacrilamida y de acrilamida. Los copolímeros de poliacrilamida y de acrilamida se usan en muchos procesos industriales, tales como la producción de papel, de tintes y plásticos, y en el tratamiento del agua potable y de aguas residuales, incluidas las aguas negras."
  },
  {
    tipo: "Aerosol",
    especificaciones: "Gases contenidos a presión en un recipiente. Ejemplo: gases refrigerantes, exentos halones, extintores."
  },
  {
    tipo: "Baterías de plomo",
    especificaciones: "En caso de fugas del líquido que contienen, acondicionarlos en bidones homologados, si el tamaño no lo permite, guardarlas en una caja de cartón bien cerradas y etiquetadas."
  },
  {
    tipo: "Bases",
    especificaciones: "Una base para laboratorio es cualquier sustancia que aporta iones OH- en una disolución acuosa, es decir, tiene un pH mayor a 7."
  },
  {
    tipo: "Compuestos mercurizados",
    especificaciones: "Sales y soluciones de mercurio, ejemplo los termómetros."
  },
  {
    tipo: "Plaguicidas",
    especificaciones: "Pesticidas, herbicidas y biocidas en general (organohalogenados, organofosforados, etc.)."
  },
  {
    tipo: "Sales y soluciones de cromo",
    especificaciones: "Mezcla crómica y compuesta por cromo."
  },
  {
    tipo: "Sales y soluciones inorgánicas",
    especificaciones: "Sales de sulfatos, nitratos, metales pesados."
  },
  {
    tipo: "Sales y soluciones Cianuradas",
    especificaciones: "Sustancias que contienen cianuros y derivados."
  },
  {
    tipo: "Envases vacíos de vidrio",
    especificaciones: "Envases vacíos de vidrio, plástico o metal y vidrio roto de laboratorio. Separarlos en diferentes contenedores los envases de distinto material."
  },
  {
    tipo: "Tierras contaminadas",
    especificaciones: "Tierras afectadas por hongos y metales."
  },
  {
    tipo: "Bromuro de etidio",
    especificaciones: "Bromuro de etidio solido o liquido (geles,guantes,papel, puntas, contaminadas)."
  },
  {
    tipo: "Residuos biosanitarios",
    especificaciones: "Potencialmente contaminados con sustancias biológicas al haber estado en contacto con pacientes o líquidos biológicos. Ejemplo: placas, Petri, materiales cortantes."
  },
  {
    tipo: "Soluciones de revelado",
    especificaciones: "Revelador y fijador de fotografías, líquidos de radiología."
  },
  {
    tipo: "Materiales contaminados con productos químicos",
    especificaciones: "Materiales sólidos contaminados con sustancias químicas, guantes, puntas, papeles, etc. No juntar los materiales que tuvieron contacto con el bromuro de etidio."
  },
  {
    tipo: "Medicamentos vencidos",
    especificaciones: "Medicamentos caducados y sus envases."
  }
];

const reactivosSolidosPeligrosos =
  [
    {
      id: 1,
      nombre: "Acido 3,5-dinitrosalicílico 98%",
      propiedades: [
        "Toxicidad aguda oral",
        "Lesiones o irritación ocular graves"
      ],
      categorias: [
        "Categoría 4 (H302)",
        "Categoría 1 (H318)"
      ],
      tipo: "Ácido"
    },
    {
      id: 2,
      nombre: "Acido Benzoico 99,5%",
      propiedades: [
        "Corrosión o irritación cutáneas",
        "Lesiones o irritación ocular graves",
        "Toxicidad específica del órgano blanco - (exposición repetida)"
      ],
      categorias: [
        "Categoría 2 (H315)",
        "Categoría 1 (H318)",
        "Categoría 1 (H372)"
      ],
      tipo: "Ácido"
    },
    {
      id: 3,
      nombre: "Ácido cítrico 99,5-102%",
      propiedades: [
        "Lesiones o irritación ocular graves",
        "Toxicidad específica del órgano blanco - (única exposición)"
      ],
      categorias: [
        "Categoría 2 (H319)",
        "Categoría 3 (H335)"
      ],
      tipo: "Ácido"
    },
    {
      id: 4,
      nombre: "Acido Oxálico",
      propiedades: [
        "Toxicidad aguda oral",
        "Toxicidad aguda cutánea",
        "Lesiones o irritación ocular graves",
        "Toxicidad específica del órgano blanco - (exposición repetida)"
      ],
      categorias: [
        "Categoría 4 (H302)",
        "Categoría 4 (H312)",
        "Categoría 1 (H318)",
        "Categoría 2 (H373)"
      ],
      tipo: "Ácido"
    },
    {
      id: 5,
      nombre: "Ammonium Thiocyanate 98%",
      propiedades: [
        "Toxicidad aguda oral",
        "Toxicidad aguda cutánea",
        "Lesiones o irritación ocular graves",
        "Toxicidad aguda por inhalación - Polvos y nieblas"
      ],
      categorias: [
        "Categoría 4 (H302)",
        "Categoría 4 (H312)",
        "Categoría 1 (H318)",
        "Categoría 4 (H332)"
      ],
      tipo: "Sal"
    },
    {
      id: 6,
      nombre: "Amonio cloruro 99,5%",
      propiedades: [
        "Toxicidad aguda oral",
        "Lesiones o irritación ocular graves"
      ],
      categorias: [
        "Categoría 4 (H302)",
        "Categoría 2 (H319)"
      ],
      tipo: "Sal"
    },
    {
      id: 7,
      nombre: "Amonio Oxalato Hidrato 99%",
      propiedades: [
        "Toxicidad aguda oral",
        "Toxicidad aguda cutánea",
        "Lesiones o irritación ocular graves"
      ],
      categorias: [
        "Categoría 4 (H302)",
        "Categoría 4 (H312)",
        "Categoría 2 (H319)"
      ],
      tipo: "Sal"
    },
    {
      id: 8,
      nombre: "Amonio Oxalato",
      propiedades: [
        "Toxicidad aguda oral",
        "Toxicidad aguda cutánea",
        "Lesiones o irritación ocular graves"
      ],
      categorias: [
        "Categoría 4 (H302)",
        "Categoría 4 (H312)",
        "Categoría 2 (H319)"
      ],
      tipo: "Sal"
    },
    {
      id: 9,
      nombre: "Amonio tiocianato 99%",
      propiedades: [
        "Toxicidad aguda, Oral",
        "Toxicidad aguda, Inhalación",
        "Toxicidad aguda, Cutáneo",
        "Lesiones oculares graves"
      ],
      categorias: [
        "Categoría 4 (H302)",
        "Categoría 4 (H332)",
        "Categoría 4 (H312)",
        "Categoría 1 (H318)"
      ],
      tipo: "Sal"
    },
    {
      id: 10,
      nombre: "Antrona 97%",
      propiedades: [
        "Irritaciones cutáneas",
        "Irritación ocular",
        "Irritación vías respiratorias"
      ],
      categorias: [
        "Categoría 2 (H315)",
        "Categoría 2 (H319)",
        "Categoría 3 (H335)"
      ],
      tipo: "Compuesto orgánico"
    },
    {
      id: 11,
      nombre: "Calcio cloruro 2-hidrato 99-105%",
      propiedades: [
        "Irritación ocular"
      ],
      categorias: [
        "Categoría 2 (H319)"
      ],
      tipo: "Sal"
    },
    {
      id: 12,
      nombre: "Cerio nitrato 99,5%",
      propiedades: [
        "Sólidos comburentes",
        "Corrosivos para los metales",
        "Toxicidad aguda oral",
        "Corrosión cutáneas",
        "Toxicidad acuático, crónica"
      ],
      categorias: [
        "Categoría 2 (H272)",
        "Categoría 1 (H290)",
        "Categoría 4 (H302)",
        "Categoría 1B (H314)",
        "Categoría 1 (H410)"
      ],
      tipo: "Sal"
    },
    {
      id: 13,
      nombre: "Cloruro de Mercurio 99,5%",
      propiedades: [
        "Toxicidad aguda oral",
        "Corrosión o irritación cutáneas",
        "Lesiones o irritación ocular graves",
        "Mutagenicidad en células germinales",
        "Toxicidad para la reproducción",
        "Toxicidad específica del órgano blanco - (exposición repetida)",
        "Toxicidad acuática aguda",
        "Toxicidad acuática crónica"
      ],
      categorias: [
        "Categoría 2 (H300)",
        "Categoría 1B (H314)",
        "Categoría 1 (H318)",
        "Categoría 2 (H341)",
        "Categoría 2 (H361f)",
        "Categoría 1 (H372)",
        "Categoría 1 (H400)",
        "Categoría 1 (H410)"
      ],
      tipo: "Sal"
    },
    {
      id: 14,
      nombre: "Cobalto II cloruro 6 hidrato 98%",
      propiedades: [
        "Toxicidad aguda oral",
        "Toxicidad aguda por inhalación",
        "Sensibilización respiratoria",
        "Sensibilización cutánea",
        "Carcinogenicidad",
        "Toxicidad para la reproducción",
        "Toxicidad acuática crónica",
        "Mutagenicidad en células germinales"
      ],
      categorias: [
        "Categoría 4 (H302)",
        "Categoría 4 (H332)",
        "Categoría 1 (H334)",
        "Categoría 1 (H317)",
        "Categoría 2 (H341)",
        "Categoría 1B (H360F)",
        "Categoría 1 (H410)",
        "Categoría 1B (H350i)"
      ],
      tipo: "Sal"
    },
    {
      id: 15,
      nombre: "Cromato de plomo",
      propiedades: [
        "Carcinogenicidad",
        "Toxicidad para la reproducción",
        "Toxicidad acuática crónica",
        "Toxicidad específica del órgano blanco - (exposición repetida)"
      ],
      categorias: [
        "Categoría 1B (H350)",
        "Categoría 1A (H360Df)",
        "Categoría 1 (H410)",
        "Categoría 2 (H373)"
      ],
      tipo: "Sal"
    },
    {
      id: 16,
      nombre: "EDTA (ácido etilendiamina tetracetico disódico deshidrato) 99%",
      propiedades: [
        "Lesiones oculares graves"
      ],
      categorias: [
        "Categoría 1 (H318)"
      ],
      tipo: "Compuesto orgánico"
    },
    {
      id: 17,
      nombre: "Fenol 99%",
      propiedades: [
        "Toxicidad aguda oral",
        "Toxicidad aguda cutánea",
        "Toxicidad aguda por inhalación",
        "Corrosión o irritación cutáneas",
        "Mutagenicidad en células germinales",
        "Toxicidad específica del órgano blanco - (exposición repetida)"
      ],
      categorias: [
        "Categoría 3 (H301)",
        "Categoría 3 (H311)",
        "Categoría 3 (H331)",
        "Categoría 1B (H314)",
        "Categoría 2 (H341)",
        "Categoría 2 (H373)"
      ],
      tipo: "Compuesto orgánico"
    },
    {
      id: 18,
      nombre: "Fenolftaleína 99%",
      propiedades: [
        "Líquidos inflamables",
        "Toxicidad aguda oral",
        "Toxicidad aguda cutánea",
        "Toxicidad aguda por vapores",
        "Lesiones o irritación ocular graves",
        "Carcinogenicidad",
        "Mutagenicidad en células germinales",
        "Toxicidad específica del órgano blanco - (única exposición)"
      ],
      categorias: [
        "Categoría 2 (H225)",
        "Categoría 4 (H302)",
        "Categoría 4 (H312)",
        "Categoría 4 (H332)",
        "Categoría 2 (H319)",
        "Categoría 2 (H341)",
        "Categoría 1B (H350)",
        "Categoría 2 (H371)"
      ],
      tipo: "Indicador pH"
    },
    {
      id: 19,
      nombre: "Hexametileno tetramina 99-100,5%",
      propiedades: [
        "Sólidos inflamables",
        "Sensibilización cutánea"
      ],
      categorias: [
        "Categoría 2 (H228)",
        "Categoría 1 (H317)"
      ],
      tipo: "Compuesto orgánico"
    },
    {
      id: 20,
      nombre: "Hexametilenodiamina (1,6 diaminohexano)",
      propiedades: [
        "Toxicidad aguda oral",
        "Toxicidad aguda cutánea",
        "Corrosión o irritación cutáneas",
        "Lesiones o irritación ocular graves",
        "Toxicidad específica del órgano blanco - (única exposición)"
      ],
      categorias: [
        "Categoría 4 (H302)",
        "Categoría 4 (H312)",
        "Categoría 1B (H314)",
        "Categoría 1 (H318)",
        "Categoría 3 (H335)"
      ],
      tipo: "Compuesto orgánico"
    },
    {
      id: 21,
      nombre: "Hidroquinona 99%",
      propiedades: [
        "Toxicidad aguda oral",
        "Lesiones o irritación ocular graves",
        "Sensibilización cutánea",
        "Carcinogenicidad",
        "Mutagenicidad en células germinales"
      ],
      categorias: [
        "Categoría 4 (H302)",
        "Categoría 1 (H318)",
        "Categoría 1 (H317)",
        "Categoría 2 (H351)",
        "Categoría 2 (H341)"
      ],
      tipo: "Compuesto orgánico"
    },
    {
      id: 22,
      nombre: "Hidróxido de potasio 85%",
      propiedades: [
        "Toxicidad aguda oral",
        "Corrosión o irritación cutáneas",
        "Lesiones o irritación ocular graves"
      ],
      categorias: [
        "Categoría 4 (H302)",
        "Categoría 1A (H314)",
        "Categoría 1 (H318)"
      ],
      tipo: "Base inorgánica"
    },
    {
      id: 23,
      nombre: "Hidróxido de sodio 98%",
      propiedades: [
        "Toxicidad aguda oral",
        "Corrosión o irritación cutáneas",
        "Lesiones o irritación ocular graves"
      ],
      categorias: [
        "Categoría 4 (H302)",
        "Categoría 1A (H314)",
        "Categoría 1 (H318)"
      ],
      tipo: "Base inorgánica"
    },
    {
      id: 24,
      nombre: "Hierro (ll) cloruro tetrahidrato",
      propiedades: [
        "Toxicidad aguda (oral)",
        "Irritación o corrosión cutáneas",
        "Lesiones oculares graves"
      ],
      categorias: [
        "Categoría 4 (H302)",
        "Categoría 2 (H315)",
        "Categoría 1 (H318)"
      ],
      tipo: "Sal inorgánica"
    },
    {
      id: 25,
      nombre: "Hierro lll cloruro hexahidrato 97%",
      propiedades: [
        "Toxicidad aguda oral",
        "Corrosión o irritación cutáneas",
        "Lesiones o irritación ocular graves"
      ],
      categorias: [
        "Categoría 4 (H302)",
        "Categoría 2 (H315)",
        "Categoría 1 (H318)"
      ],
      tipo: "Sal inorgánica"
    },
    {
      id: 26,
      nombre: "Magnesio 99%",
      propiedades: [
        "Sólidos inflamables",
        "Calentamiento espontáneo",
        "En contacto con el agua, desprenden gases inflamables"
      ],
      categorias: [
        "Categoría 1 (H228)",
        "Categoría 2 (H252)",
        "Categoría 2 (H261)"
      ],
      tipo: "Metal"
    },
    {
      id: 27,
      nombre: "Naftaleno 98%",
      propiedades: [
        "Sólidos inflamables",
        "Toxicidad aguda oral",
        "Carcinogenicidad",
        "Toxicidad acuática crónica"
      ],
      categorias: [
        "Categoría 2 (H228)",
        "Categoría 4 (H302)",
        "Categoría 2 (H351)",
        "Categoría 1 (H410)"
      ],
      tipo: "Hidrocarburo aromático"
    },
    {
      id: 28,
      nombre: "Negro de Eriocromo",
      propiedades: [
        "Lesiones o irritación ocular graves"
      ],
      categorias: [
        "Categoría 2 (H319)"
      ],
      tipo: "Indicador pH"
    },
    {
      id: 29,
      nombre: "Óxido de zinc 99-100,5%",
      propiedades: [
        "Toxicidad acuática crónica"
      ],
      categorias: [
        "Categoría 1 (H410)"
      ],
      tipo: "Óxido inorgánico"
    },
    {
      id: 30,
      nombre: "Plata nitrato",
      propiedades: [
        "Sólidos comburentes",
        "Corrosivas para los metales",
        "Corrosión o irritación cutáneas",
        "Lesiones o irritación ocular graves",
        "Toxicidad acuática crónica"
      ],
      categorias: [
        "Categoría 2 (H272)",
        "Categoría 1 (H290)",
        "Categoría 1B (H314)",
        "Categoría 1 (H318)",
        "Categoría 1 (H410)"
      ],
      tipo: "Sal inorgánica"
    },
    {
      id: 31,
      nombre: "Plomo ll acetato 3 hidrato 99%",
      propiedades: [
        "Lesiones o irritación ocular graves",
        "Carcinogenicidad",
        "Toxicidad para la reproducción",
        "Toxicidad específica del órgano blanco - (exposición repetida)",
        "Toxicidad acuática aguda",
        "Toxicidad acuática crónica"
      ],
      categorias: [
        "Categoría 1 (H318)",
        "Categoría 1B (H350)",
        "Categoría 1A (H360)",
        "Categoría 2 (H373)",
        "Categoría 1 (H400)",
        "Categoría 1 (H410)"
      ],
      tipo: "Sal inorgánica"
    },
    {
      id: 32,
      nombre: "Plomo ll carbono",
      propiedades: [
        "Toxicidad aguda oral",
        "Toxicidad aguda por inhalación",
        "Carcinogenicidad",
        "Toxicidad para la reproducción",
        "Toxicidad acuática crónica",
        "Toxicidad específica del órgano blanco - (exposición repetida)"
      ],
      categorias: [
        "Categoría 4 (H302)",
        "Categoría 4 (H332)",
        "Categoría 2 (H351)",
        "Categoría 1A (H360)",
        "Categoría 1 (H410)",
        "Categoría 1 (H372)"
      ],
      tipo: "Compuesto inorgánico"
    },
    {
      id: 33,
      nombre: "Potasio cloruro 99,5 %",
      propiedades: [
        "Toxicidad acuática aguda",
        "Toxicidad acuática crónica"
      ],
      categorias: [
        "Categoría 1 (H400)",
        "Categoría 2 (H411)"
      ],
      tipo: "Sal inorgánica"
    },
    {
      id: 34,
      nombre: "Potasio cromato 99-102%",
      propiedades: [
        "Corrosión o irritación cutáneas",
        "Lesiones o irritación ocular graves",
        "Sensibilización cutánea",
        "Mutagenicidad en células germinales",
        "Carcinogenicidad",
        "Toxicidad específica del órgano blanco - (única exposición)",
        "Toxicidad acuática crónica"
      ],
      categorias: [
        "Categoría 2 (H315)",
        "Categoría 2 (H319)",
        "Categoría 1 (H317)",
        "Categoría 1B (H340)",
        "Categoría 1B (H350i)",
        "Categoría 3 (H335)",
        "Categoría 1 (H410)"
      ],
      tipo: "Sal inorgánica"
    },
    {
      id: 35,
      nombre: "Potasio permanganato 99%",
      propiedades: [
        "Sólidos comburentes",
        "Toxicidad aguda oral",
        "Corrosión o irritación cutáneas",
        "Lesiones o irritación ocular graves",
        "Toxicidad para la reproducción",
        "Toxicidad acuática crónica",
        "Toxicidad específica del órgano blanco - (exposición repetida)"
      ],
      categorias: [
        "Categoría 2 (H272)",
        "Categoría 4 (H302)",
        "Categoría 1C (H314)",
        "Categoría 1 (H318)",
        "Categoría 2 (H361d)",
        "Categoría 1 (H410)",
        "Categoría 2 (H373)"
      ],
      tipo: "Sal inorgánica"
    },
    {
      id: 36,
      nombre: "Sodio carbonato anhidro 99,9%",
      propiedades: [
        "Lesiones o irritación ocular graves"
      ],
      categorias: [
        "Categoría 2 (H319)"
      ],
      tipo: "Sal inorgánica"
    },
    {
      id: 37,
      nombre: "Sodio di sulfito (bisulfito de sodio) 97%",
      propiedades: [
        "Toxicidad aguda oral"
      ],
      categorias: [
        "Categoría 4 (H302)"
      ],
      tipo: "Compuesto inorgánico"
    },
    {
      id: 38,
      nombre: "Sodium bismuth oxide 80%",
      propiedades: [
        "Toxicidad aguda oral",
        "Corrosión o irritación cutáneas",
        "Lesiones o irritación ocular graves",
        "Toxicidad específica del órgano blanco - (única exposición)"
      ],
      categorias: [
        "Categoría 4 (H302)",
        "Categoría 2 (H315)",
        "Categoría 2 (H319)",
        "Categoría 3 (H335)"
      ],
      tipo: "Óxido inorgánico"
    },
    {
      id: 39,
      nombre: "Titanio (IV) oxido",
      propiedades: [
        "Carcinogenicidad"
      ],
      categorias: [
        "Categoría 2 (H351)"
      ],
      tipo: "Compuesto inorgánico"
    },
    {
      id: 40,
      nombre: "Zinc acetato 2 hidrato 99,5-101%",
      propiedades: [
        "Toxicidad aguda oral",
        "Lesiones o irritación ocular graves",
        "Toxicidad acuática crónica"
      ],
      categorias: [
        "Categoría 4 (H302)",
        "Categoría 1 (H318)",
        "Categoría 2 (H411)"
      ],
      tipo: "Sal inorgánica"
    },
    {
      id: 41,
      nombre: "Zinc cloruro 97%",
      propiedades: [
        "Toxicidad aguda oral",
        "Corrosión o irritación cutáneas",
        "Lesiones o irritación ocular graves",
        "Toxicidad específica del órgano blanco - (única exposición)",
        "Toxicidad acuática crónica"
      ],
      categorias: [
        "Categoría 4 (H302)",
        "Categoría 1B (H314)",
        "Categoría 1 (H318)",
        "Categoría 3 (H335)",
        "Categoría 1 (H410)"
      ],
      tipo: "Sal inorgánica"
    }
  ];

const columns: GridColDef[] = [
  { field: 'id', headerName: 'No', width: 70 },
  { field: 'nombre', headerName: 'Reactivo', width: 300 },
  { field: 'propiedades', headerName: 'Peligrosidad', width: 1000 },
  { field: 'categorias', headerName: 'Nivel de Peligrosidad', width: 1000 },
  { field: 'tipo', headerName: 'Tipo de Sustancia', width: 200 },
];

const ITEMSAcordion = [
  {
    title: 'Peligros Fisicos',
    points: [
      {
        descripion: 'Explosivos'
      },
      {
        descripion: 'Gases inflamables'
      },
      {
        descripion: 'Aerosoles inflamables'
      },
      {
        descripion: 'Gases comburentes'
      },
      {
        descripion: 'Gases a presion'
      },
      {
        descripion: 'Liquidos inflamables'
      },
      {
        descripion: 'Solidos inflamables'
      },
      {
        descripion: 'Sustancias y mezclas que reaccionan espontaneamente'
      },
      {
        descripion: 'Liquidos piroforicos'
      },
      {
        descripion: 'Solidos piroforicos'
      },
      {
        descripion: 'Sustancias o mezclas que experimentan calentamiento espontaneo'
      },
      {
        descripion: 'Sustancias o mezclas que en contacto con el agua desprenden gases inflamables'
      },
      {
        descripion: 'Liquidos oxidantes'
      },
      {
        descripion: 'Peroxidos organicos'
      },
      {
        descripion: 'Sustancias o mezclas corrosivas para los metales'
      }
    ]
  },
  {
    title: 'Peligros a la salud',
    points: [
      {
        descripion: 'Toxicidad aguda'
      },
      {
        descripion: 'Corrosion/ irritacion cutanea'
      },
      {
        descripion: 'Lesiones/ irritacion oculares'
      },
      {
        descripion: 'Sensibilizacion respiratoria o cutanea'
      },
      {
        descripion: 'Mutagenicidad en celulas germinales'
      },
      {
        descripion: 'Carcinogenicidad'
      },
      {
        descripion: 'Toxicidad para la reproduccion'
      },
      {
        descripion: 'Toxicidad especifica para determinados organos'
      },
      {
        descripion: 'Peligro aspiracion'
      }
    ]
  },
  {
    title: 'Peligros para el medio ambiente',
    points: [
      {
        descripion: 'Toxicidad acuatica aguda'
      },
      {
        descripion: 'Toxicidad acuatica crónica'
      },
      {
        descripion: 'Peligro a la capa de ozono'
      }
    ]
  }
]

const itemsAcordion2 = [
  {
    title: 'Explosivos',
    points: [
    {
      description: "Separar sustancias de distinta naturaleza."
    },
    {
      description: "Evitar toda fuente de calor o ignición."
    },
    {
      description: "Mantener pisos, techos y alrededores limpios, secos, ventilados y frescos."
    },
    {
      description: "El sitio de almacenamiento debe permanecer cerrado con acceso solo para el trabajador(es)."
    },
    {
      description: "Verificar habitualmente la conservación de las sustancias."
    },
    {
      description: "No abrir cajas de explosivos con herramientas metálicas. Usar cuñas de madera y mazos de goma."
    },
    {
      description: "No almacenar cantidades de explosivos que sobrepasen el 70% de la capacidad de las instalaciones."
    }
    ]
  },
  {
    title: 'Gases comprimidos, inflamables, no inflamables y tóxicos',
    points: [
    {
    description: "Almacenar en estantería."
  },
  {
    description: "Cilindros llenos deben separarse de los vacíos con debida señalización."
  },
  {
    description: "Almacenamiento vertical encadenados a pared o soporte que impida su volcamiento."
  },
  {
    description: "Cilindros deben estar lejos de instalaciones eléctricas."
  }
    ]
  },
  {
    title: 'Líquidos inflamables',
    points: [
    {
    description: "Podrán almacenarse con sólidos inflamables, pero no cerca de ácidos. El lugar de almacenamiento debe ser frio, con buena ventilación y apropiado para limpieza por posibles derrames, así como contar con equipos contra incendios en buen estado."
  },
  {
    description: "No almacenar en neveras convencionales."
  },
  {
    description: "Extintores portátiles deben ser de espuma química seca o de dióxido de carbono."
  },
  {
    description: "Almacenamiento en cantidades mínimas."
  },
  {
    description: "Separación por categoría según el grado de combustión."
  },
  {
    description: "Se debe contar con lo EPP adecuados para su manipulación."
  },
  {
    description: "No utilizar agua para la limpieza en caso de derrames."
  }
    ]
  },
  {
    title: 'Sólidos inflamables',
    points: [
      {
        description: 'Separado del resto de sustancias peligrosas 2,4 m.'
      },
      {
        description: 'No usar agua como sistema de control contra incendios.'
      }
    ]
  },
  {
    title: 'Sustancias comburentes y peróxidos orgánicos',
    points: [
    {
    description: "No utilizar recipientes de compuestos que formen peróxidos, después de 30 días de abierto. Los recipientes que no se hayan abierto, tendrán expiración de 12 meses."
  },
  {
    description: "Adquirir éteres en pequeñas cantidades con utilización de tiempo breve."
  },
  {
    description: "Incluir fecha de compra en los recipientes, así como fecha de utilización."
  },
  {
    description: "Mantener lejos de fuentes de calor, luz o combustión."
  },
  {
    description: "Almacenamiento en un lugar frío, seco, ventilado, alejado de la luz directa del sol y muy bien cerrados."
  },
  {
    description: "Almacenar en envases de vidrio color ámbar."
  },
  {
    description: "Los reactivos químicos deben mantenerse alejados de materiales orgánicos, disolventes inflamables, sustancias corrosivas y sustancias tóxicas."
  },
  {
    description: "Impedir todas las formas de impacto cuando se trabaja con sustancias oxidantes."
  },
  {
    description: "No mezclar con otras sustancias químicas durante los procesos de recogida de residuos."
  },
  {
    description: "No almacenar con inflamables o líquidos combustibles."
  },
  {
    description: "Para almacenamiento común mantener una distancia de 2,4 m de otros productos."
  }
    ]
  }
]
---

<Layout title="Sistema interno para el manejo de residuos peligrosos">
  <!-- <LandingHeader /> -->

  <main
    class="relative w-full h-screen"
  >
    <div class="snap-center">
      <section class="h-screen w-screen overflow-hidden relative">
        <div class="z-30 relative w-screen h-full flex flex-col">
          <header class="flex flex-grow justify-center items-end">
            <div class="p-6 bg-black opacity-80 rounded-lg">
              <h1
          class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl"
        >
          <span
            class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400"
            >SISTEMA INTERNO PARA EL MANEJO <br /> DE <br /> RESIDUOS PELIGROSOS</span>
        </h1>
            </div>
          </header>
          <footer
            class="flex flex-grow justify-end items-center flex-col mb-24"
          >
            <div class="p-2 bg-black opacity-80 rounded-3xl">
              <div class="scrolldown" style="--color: skyblue">
                <div class="chevrons">
                  <div class="chevrondown"></div>
                  <div class="chevrondown"></div>
                </div>
              </div>
            </div>
          </footer>
        </div>
        <div class="absolute top-0 bottom-0 w-full h-full z-10">
          <video
            class="object-center object-cover w-full h-full"
            autoplay
            muted
            loop
            src="video.webm"></video>
        </div>
      </section>
    </div>
    <div class="snap-center">
      <section
        class="w-screen min-h-screen overflow-hidden relative container-intro mb-6"
      >
        <div class="introduccion">
          <div
            class="mt-5 md:mt-8 pb-14 w-11/12 rounded-xl overflow-hidden mx-auto"
            style="box-shadow: 0px 0px 64px -22px #1C50E6;"
          >
            <header class="bg-[#1843BF] text-white p-5 text-center text-xl">
              <h2>INTRODUCCIÓN</h2>
            </header>
            <main class="p-5">
              <p>
                El correcto manejo de residuos peligrosos es una prioridad
                actualmente en cualquier lugar donde se generen, es un requisito
                de cada institución, organización, empresa, industria, entre
                otros contar con un desempeño solido en el control de los
                impactos de actividades, productos y servicios sobre el medio
                ambiente, de acuerdo con su política y objetivo ambiental. El
                manejo adecuado de los productos químicos residuales es un punto
                importante en la conservación de la naturaleza específicamente
                en la protección del aire, el agua y el suelo, de igual manera
                es crucial para preservar el bienestar físico de cada individuo. <br
                /> Este sistema de manejo está destinado principalmente a guiar a
                las partes responsables a preservar su integridad física, las de
                los demás y la naturaleza que les rodea, a mitigar posibles accidentes
                dentro las instalaciones de los laboratorios, identificar los riesgos
                de un mal manejo de los residuos, tener claridad de los efectos de
                cada reactivo y su nivel de peligrosidad, todo esto amparado bajo
                el marco legal vigente del decreto 1076 2015, decreto 1496 de 2018
                y la política ambiental de la universidad de Cartagena del del acuerdo
                N°6 del 22 de febrero de 2018.
              </p>
            </main>
            <div class="md:w-48 md:mx-auto md:block hidden">
              <img src="assets/img/intro.jpg" alt="" />
            </div>
          </div>
        </div>
        <div class="general">
          <div
            class="mt-5 md:mt-8 pb-10 w-11/12 rounded-xl overflow-hidden mx-auto"
            style="box-shadow: 0px 0px 64px -22px #1C50E6;"
          >
            <header class="bg-[#1843BF] text-white p-5 text-center text-xl">
              <h2>OBJETIVO GENERAL</h2>
            </header>
            <footer class="p-5">
              <p>
                Informar a cada individuo que haga uso de las instalaciones,
                sobre el protocolo de manejo de residuos peligrosos dentro del
                laboratorio de Ingeniería Química del Campus Piedra de Bolívar,
                con el fin de evitar riesgos y accidentes.
              </p>
            </footer>
          </div>
        </div>
        <div class="especificos">
          <div
            class="mt-5 md:mt-8 pb-10 w-11/12 rounded-xl overflow-hidden mx-auto"
            style="box-shadow: 0px 0px 64px -22px #1C50E6;"
          >
            <header class="bg-[#1843BF] text-white p-5 text-center text-xl">
              <h2>OBJETIVOS ESPECÍFICOS</h2>
            </header>
            <main class="p-5">
              <ol class="list-decimal list-inside space-y-2">
                <li>
                  Identificar y caracterizar las sustancias y residuos que se
                  generan dentro del laboratorio, para una correcta manipulación
                  al momento de desecharlos.
                </li>
                <li>
                  Comprender cada una de las etapas de la gestión de residuos:
                  segregación, movimiento interno, almacenamiento y disposición
                  final.
                </li>
                <li>
                  Distinguir los espacios y elementos estipulados para el
                  almacenamiento de desechos.
                </li>
                <li>
                  Reconocer los diferentes pasos a seguir en caso de emergencia,
                  según su origen.
                </li>
              </ol>
            </main>
          </div>
        </div>
      </section>
    </div>
    <div class="snap-center">
      <section class="mx-auto px-4 py-8 w-screen">
        <h1 class="text-3xl text-center text-[#1843BF] font-bold mb-4">
          Normas básicas de seguridad a seguir dentro del laboratorio
        </h1>
        <p class="mb-8 text-center">
          Todas las normas mencionadas a continuación son importantes y se deben
          cumplir correctamente para evitar que ocurran accidentes dentro del
          laboratorio.
        </p>

        <div
          class="grid max-w-7xl mx-auto overflow-y-scroll grid-cols-[repeat(auto-fill,minmax(220px,1fr))] gap-4"
        >
          {
            normas.map((norma) => (
              <Callout title="" icon={norma.icon} color={norma.color}>
                {norma.description}
              </Callout>
            ))
          }
        </div>
      </section>
    </div>
    <div class="snap-center">
      <section class="mx-auto px-4 py-8  w-screen">
        <Table />
      </section>
    </div>
    <div class="snap-center">
      <section class="mx-auto px-4 py-8  w-screen">
        <h1
          class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl"
        >
          <span
            class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400"
            >PICTOGRAMAS DE PELIGROS</span>
        </h1>
        <p>
          Los pictogramas de peligro químico son símbolos gráficos utilizados
          para indicar los riesgos asociados al uso de sustancias químicas.
          Estos pictogramas se utilizan en los envases de sustancias o mezclas
          químicas con el fin de advertir a los usuarios sobre los peligros
          físicos y los riesgos para la salud que pueden presentar
        </p>
        <swiper-container class='px-6' slides-per-view="1" speed="500" loop="true" css-mode="true" navigation='true' pagination='true'>
          {
            pictogramasPeligrosos.map((pictograma) => (
              <swiper-slide>
                <div
              class="relative max-w-screen-3xl px-4 mx-auto sm:px-6 lg:px-8"
            >
              <div
                class="max-w-lg mx-auto rounded-lg shadow-lg pricing-box lg:max-w-none lg:flex"
              >
                <div
                  class="px-6 py-8 text-center bg-gray-50 dark:bg-gray-700 lg:flex-shrink-0 lg:flex lg:flex-col lg:justify-center lg:p-12"
                >
                  <h1
                    class="mb-4 text-xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl"
                  >
                    <span
                      class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400"
                      >{pictograma.title}</span>
                  </h1>
                  <div class="max-w-sm mt-4 mx-auto">
                    <img src={pictograma.image} alt="" />
                  </div>
                </div>
                <div
                  class="px-6 py-8 bg-white dark:bg-gray-800 lg:flex-shrink-1 lg:p-12"
                >
                  <div class="flex items-center">
                    <h4
                      class="flex-shrink-0 pr-4 text-sm font-semibold leading-5 tracking-wider text-indigo-600 uppercase bg-white dark:bg-gray-800"
                    >
                      ¿Qué Significa?
                    </h4>
                    <div class="flex-1 border-t-2 border-gray-200"></div>
                  </div>
                  <ul
                    class="mt-6 lg:grid lg:grid-cols-2 lg:col-gap-8 lg:row-gap-5"
                  >
                    {
                      pictograma.meaning.map((mening) => (
                        <li class="flex items-start lg:col-span-1">
                          <span class="flex items-center justify-center flex-shrink-0 w-6 h-6 text-green-800 bg-green-100 rounded-full dark:text-green-500 drark:bg-transparent p-1">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke-width="1.5"
                              stroke="currentColor"
                              class="w-6 h-6"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9 5.25h.008v.008H12v-.008z"
                              />
                            </svg>
                          </span>
                          <p class="ml-3 text-sm leading-5 text-gray-700 dark:text-gray-200">
                            {mening.description}
                          </p>
                        </li>
                      ))
                    }
                  </ul>
                  <div class="mt-6">
                    <div class="flex items-center">
                      <h4
                        class="flex-shrink-0 pr-4 md:text-sm font-semibold leading-5 tracking-wider text-indigo-600 uppercase bg-white dark:bg-gray-800 text-xs"
                      >
                        Ejemplos de dónde pueden encontrarse
                      </h4>
                      <div class="flex-1 border-t-2 border-gray-200"></div>
                    </div>
                    <ul
                      class="mt-6 lg:grid lg:grid-cols-2 lg:col-gap-8 lg:row-gap-5"
                    >
                      {
                        pictograma.findExamples.map((find) => (
                          <li class="flex items-start lg:col-span-1">
                            <div class="flex items-center p-1 justify-center flex-shrink-0 w-6 h-6 text-blue-500 bg-green-100 rounded-full dark:text-green-500 drark:bg-transparent">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="w-6 h-6"
                              >
                                <path
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"
                                />
                                <path
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z"
                                />
                              </svg>
                            </div>
                            <p class="ml-3 text-sm leading-5 text-gray-700 dark:text-gray-200">
                              {find.description}
                            </p>
                          </li>
                        ))
                      }
                    </ul>
                  </div>
                  <div class="mt-6">
                    <div class="flex items-center">
                      <h4
                        class="flex-shrink-0 pr-4 md:text-sm text-xs font-semibold leading-5 tracking-wider text-indigo-600 uppercase bg-white dark:bg-gray-800"
                      >
                        Ejemplos de consejos de prudencia
                      </h4>
                    </div>
                    <div class="flex-1 border-t-2 border-gray-200"></div>
                    <ul
                      class="mt-6 lg:grid lg:grid-cols-3 lg:col-gap-8 lg:row-gap-5"
                    >
                      {
                        pictograma.tipsExample.map((tips) => (
                          <li class="flex items-start lg:col-span-1">
                            <div class="flex items-center justify-center flex-shrink-0 w-6 h-6 p-1 text-yellow-500 bg-green-100 rounded-full dark:text-green-500 drark:bg-transparent">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="w-6 h-6"
                              >
                                <path
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  d="M10.34 15.84c-.688-.06-1.386-.09-2.09-.09H7.5a4.5 4.5 0 110-9h.75c.704 0 1.402-.03 2.09-.09m0 9.18c.253.962.584 1.892.985 2.783.247.55.06 1.21-.463 1.511l-.657.38c-.551.318-1.26.117-1.527-.461a20.845 20.845 0 01-1.44-4.282m3.102.069a18.03 18.03 0 01-.59-4.59c0-1.586.205-3.124.59-4.59m0 9.18a23.848 23.848 0 018.835 2.535M10.34 6.66a23.847 23.847 0 008.835-2.535m0 0A23.74 23.74 0 0018.795 3m.38 1.125a23.91 23.91 0 011.014 5.395m-1.014 8.855c-.118.38-.245.754-.38 1.125m.38-1.125a23.91 23.91 0 001.014-5.395m0-3.46c.495.413.811 1.035.811 1.73 0 .695-.316 1.317-.811 1.73m0-3.46a24.347 24.347 0 010 3.46"
                                />
                              </svg>
                            </div>
                            <p class="ml-3 text-sm leading-5 text-gray-700 dark:text-gray-200">
                              {tips.description}
                            </p>
                          </li>
                        ))
                      }
                    </ul>
                  </div>
                </div>
              </div>
            </div>
              </swiper-slide>
            ))
          }
        </swiper-container>
      </section>
    </div>
    <div class="snap-center">
      <section class="mx-auto px-4 py-8 min-h-screen w-screen">
        <h1
          class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl"
        >
          <span
            class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400"
            >ELEMENTOS DE SEGURIDAD COLECTIVA</span>
        </h1>
        <p>
          La principal función de estos equipos es realizar una extracción localizada que permita captar los contaminantes y ofrecen una protección, cuyas protecciones son:
        </p>
        <ElementsSecurity client:visible />
      </section>
    </div>
    <div class="snap-center">
      <section class="mx-auto px-4 py-8 min-h-screen w-screen">
        <header>
          <h1
            class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl"
          >
            <span
              class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400"
              >CARACTERIZACIÓN DE REACTIVOS PELIGROSOS EMPLEADOS EN EL LABORATORIO</span>
          </h1>
          <p>
            En Colombia, la clasificación del nivel de peligrosidad según el SGA (sistema global armonizado) se encuentra regulada por el Decreto 1076 de 2015, el cual establece que todos los productos químicos deben ser clasificados según el SGA. Los productos químicos se clasifican en diferentes categorías de peligrosidad, que se basan en sus propiedades físicas, químicas y toxicológicas. En las categorías se incluyen peligros para la salud, peligros físicos y peligros para el medio ambiente. Cada categoría esta subdividida en diferentes clases y subclases, que indican el nivel de peligrosidad específico del producto químico
          </p>
        </header>
          <div class="text-center mt-10 lg:flex block w-full relative mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 z-20">
            <div class="container flex flex-wrap lg:flex-col items-center justify-center w-full lg:w-1/2 mx-auto lg:absolute lgtop-0 lgleft-0">
                <div class="max-w-xs px-4 py-5 mb-2 bg-white border rounded-md shadow sm:px-6 dark:bg-gray-800">
                    <h3 class="text-lg font-medium leading-6 text-gray-900 dark:text-white">
                      Nivel de peligro SGA
                    </h3>
                </div>
                <ul class="flex flex-col">
                    <li class="flex flex-row mb-2 border-gray-400">
                        <div class="transition duration-500 shadow ease-in-out transform hover:-translate-y-1 hover:shadow-lg select-none cursor-pointer bg-white dark:bg-gray-800 rounded-md flex flex-1 items-center p-4">
                          <div class="inline-flex items-center bg-white leading-none ${props.textColor} rounded-full p-2 shadow text-teal text-sm">
                            <span class="inline-flex bg-red-700 text-white rounded-full h-6 px-3 justify-center items-center">
                              {categoriasReactivos[0].category}
                            </span>
                            <span class="inline-flex px-2 text-red-600">
                              {categoriasReactivos[0].description}
                            </span>
                          </div>
                        </div>
                    </li>
                    <li class="flex flex-row mb-2 border-gray-400">
                      <div class="transition duration-500 shadow ease-in-out transform hover:-translate-y-1 hover:shadow-lg select-none cursor-pointer bg-white dark:bg-gray-800 rounded-md flex flex-1 items-center p-4">
                        <div class="inline-flex items-center bg-white leading-none ${props.textColor} rounded-full p-2 shadow text-teal text-sm">
                          <span class="inline-flex bg-red-700 text-white rounded-full h-6 px-3 justify-center items-center">
                            {categoriasReactivos[1].category}
                          </span>
                          <span class="inline-flex px-2 text-red-600">
                            {categoriasReactivos[1].description}
                          </span>
                        </div>
                      </div>
                  </li>
                  <li class="flex flex-row mb-2 border-gray-400">
                    <div class="transition duration-500 shadow ease-in-out transform hover:-translate-y-1 hover:shadow-lg select-none cursor-pointer bg-white dark:bg-gray-800 rounded-md flex flex-1 items-center p-4">
                      <div class="inline-flex items-center bg-white leading-none ${props.textColor} rounded-full p-2 shadow text-teal text-sm">
                        <span class="inline-flex bg-yellow-700 text-white rounded-full h-6 px-3 justify-center items-center">
                          {categoriasReactivos[2].category}
                        </span>
                        <span class="inline-flex px-2 text-yellow-600">
                          {categoriasReactivos[2].description}
                        </span>
                      </div>
                    </div>
                </li>
                <li class="flex flex-row mb-2 border-gray-400">
                  <div class="transition duration-500 shadow ease-in-out transform hover:-translate-y-1 hover:shadow-lg select-none cursor-pointer bg-white dark:bg-gray-800 rounded-md flex flex-1 items-center p-4">
                    <div class="inline-flex items-center bg-white leading-none ${props.textColor} rounded-full p-2 shadow text-teal text-sm">
                      <span class="inline-flex bg-blue-950 text-white rounded-full h-6 px-3 justify-center items-center">
                        {categoriasReactivos[3].category}
                      </span>
                      <span class="inline-flex px-2 text-blue-950">
                        {categoriasReactivos[3].description}
                      </span>
                    </div>
                  </div>
              </li>
                </ul>
            </div>
            <div class='lg:w-1/2 w-full lg:absolute lg:right-0 lg:top-0'>
              <AccordionComponent items={ITEMSAcordion} client:visible />
            </div>
          </div>
      </section>
    </div>
    <div class="snap-center">
      <section class="mx-auto px-4 py-8 min-h-screen w-screen">
        <header>
          <h1
            class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl"
          >
            <span
              class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400"
              >Clasificación reactivos líquidos peligrosos</span>
          </h1>
        </header>
        <main>
          <DataTablePaginada rows={rowsFirstDT} columns={columns} client:visible />
        </main>
      </section>
    </div>
    <div class="snap-center">
      <section class="mx-auto px-4 py-8 min-h-screen w-screen">
        <header>
          <h1
            class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl"
          >
            <span
              class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400"
              >REACCIONES QUÍMICAS PELIGROSAS</span>
          </h1>
          <p>
            Controlar las reacciones químicas es un arduo trabajo por los múltiples parámetros que involucran los reactivos, por lo cual es necesario tener un conocimiento previo de las reacciones, compuestos y los reactivos más comunes empleados en el laboratorio, gracias a las condiciones fisicoquímicas y el conocimiento del nivel de radioactividad de los grupos químicos se puede lograr segregar los elementos y compuestos que represente un mayor riesgo de instabilidad y reacción
          </p>
        </header>
        <main class='max-w-screen-xl mx-auto my-8 px-8'>
          <PillsTabsTable client:visible />
        </main>
      </section>
    </div>
    <div class="snap-center"></div>
    <section class="mx-auto px-4 py-8 w-screen">
      <header>
        <h1
          class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl"
        >
          <span
            class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400"
            >CLASIFICACIÓN DE RESIDUOS PELIGROSOS</span>
        </h1>
        <p>
          Se le denomina residuo peligroso o mezcla peligrosa si esta sustancia afecta la integridad de un ser humano o al medio ambiente. 
          En los laboratorios de investigación se trabaja con muchas sustancias peligrosas, por lo tanto, después de utilizarlo se vuelven un residuo, para esto se debe tener estos criterios para mantener el laboratorio en un estado de seguridad, por ejemplo, las características físico-químicas de la sustancia, peligrosidad, compatibilidad química, cantidad de residuo generado, medidas de almacenamiento y transporte, tratamiento final

        </p>
      </header>
      <main class='max-w-screen-xl mx-auto my-8 px-8'>
        <table class="table md:p-4 p-1 bg-white rounded-lg shadow">
          <thead>
              <tr>
                  <th class="border md:p-4 p-1 text-xs md:text-md border-dark-5 whitespace-nowrap font-normal text-white bg-slate-900">
                    Residuos
                  </th>
                  <th class="border md:p-4 p-1 text-xs md:text-md border-dark-5 whitespace-nowrap font-normal text-white bg-slate-900">
                    Especificaciones
                  </th>
              </tr>
          </thead>
          <tbody>
            {
              residuos.map((residuo) => (
                <tr class="text-gray-700">
                    <td class="border md:p-4 p-1 text-xs md:text-md dark:border-dark-5">
                      {residuo.tipo}
                    </td>
                    <td class="border md:p-4 p-1 text-xs md:text-md dark:border-dark-5 whitespace-normal">
                      {residuo.especificaciones}
                    </td>
                </tr>
              ))
            }
              
          </tbody>
      </table>
      </main>
    </section>
  </div>
  <div class="snap-center">
    <section>
<div class="max-w-screen-xl p-8 mx-auto">
  <h2 class="mb-12 text-3xl font-extrabold leading-9 text-gray-900 border-b-2 border-gray-100">
    ALMACENAMINETO
  </h2>
  <ul class="lg:flex lg:flex-wrap block items-start gap-8 ">
      <li class="lg:w-2/5 w-full mt-4">
          <p class="text-lg font-medium leading-6 text-gray-900">
            Envasado 
          </p>
          <p class="mt-2">
              <p class="text-base leading-6 text-gray-500">
                El envasado de residuos químicos peligrosos es una tarea crucial que debe realizarse siguiendo unas medidas de seguridad específicas para evitar cualquier tipo de accidente o incidente. De acuerdo con la legislación vigente, el envasado y almacenamiento de residuos peligrosos debe hacerse de tal manera que se evite la generación de calor, explosiones, igniciones y la formación de sustancias nocivas, Al obtener un residuo después de haber realizado una actividad en el laboratorio, se tiene la obligación de separar de manera adecuada, sin mezclarlo o diluirlo con otras sustancias, algunas recomendaciones para este envasado son: 
              </p>
          </p>
      </li>
      <li class="lg:w-2/5 w-full mt-4">
          <p class="text-lg font-medium leading-6 text-gray-900">
            Etiquetado de sustancias peligrosas
          </p>
          <p class="mt-2">
              <p class="text-base leading-6 text-gray-500">
                Todo envase de residuos peligrosos debe estar correctamente etiquetado (indicación del contenido) e identificado (indicación del productor). La identificación incluye los datos del centro productor, la referencia concreta de la unidad (laboratorio) el nombre de la persona responsable del residuo y las fechas de inicio y final de llenado del envase.
              </p>
          </p>
      </li>
      <li class="lg:w-2/5 w-full mt-4">
          <p class="text-lg font-medium leading-6 text-gray-900">
            Almacenamineto general de residuos peligrosos
          </p>
          <ol class="list-decimal list-inside space-y-2 text-base leading-6 text-gray-500">
            <li>
              Tener un area especifica y señalizada de almacenamiento 
            </li>
            <li>
              Verificar que los envases sean adecuados para cada tipo de residuos
            </li>
            <li>
              Indicar el contenido de los envases 
            </li>
            <li>
              Verificar que los envases esten cerrados de manera correcta 
            </li>
            <li>
              En caso de algun derrame, informar al personal encargado 
            </li>
            <li>
              Al transvasar los residuos es recomendable realizar esta actividad e una campana de extracción  
            </li>
            <li>
              Retirar periodicamente para evitar que se acumulen grandes cantidades   
            </li>
          </ol>
      </li>
  </ul>
  <div class='max-w-screen-md mt-8'>
    <AccordionComponent items={ITEMSAcordion} client:visible />
  </div>
</div>
</section>
</div>

  </main>

  <style>
    /* table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  th {
    background-color: #f2f2f2;
  } */

    .title {
      font-size: 3rem;
      font-weight: 700;
      color: transparent;
      background-image: linear-gradient(180deg, #a6f71b, #309409);
      background-clip: text;
      -webkit-background-clip: text;
      letter-spacing: -0.015em;
    }

    .scrolldown {
      --color: white;
      --sizeX: 30px;
      --sizeY: 50px;
      position: relative;
      width: var(--sizeX);
      height: var(--sizeY);
      margin-left: var(sizeX / 2);
      border: calc(var(--sizeX) / 10) solid var(--color);
      border-radius: 50px;
      box-sizing: border-box;
      margin-bottom: 16px;
      cursor: pointer;
    }

    .scrolldown::before {
      content: "";
      position: absolute;
      bottom: 30px;
      left: 50%;
      width: 6px;
      height: 6px;
      margin-left: -3px;
      background-color: var(--color);
      border-radius: 100%;
      animation: scrolldown-anim 2s infinite;
      box-sizing: border-box;
      box-shadow: 0px -5px 3px 1px #2a547066;
    }

    img {
      mix-blend-mode: multiply;
    }

    @keyframes scrolldown-anim {
      0% {
        opacity: 0;
        height: 6px;
      }

      40% {
        opacity: 1;
        height: 10px;
      }

      80% {
        transform: translate(0, 20px);
        height: 10px;
        opacity: 0;
      }

      100% {
        height: 3px;
        opacity: 0;
      }
    }

    .chevrons {
      padding: 6px 0 0 0;
      margin-left: -3px;
      margin-top: 48px;
      width: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .chevrondown {
      margin-top: -6px;
      position: relative;
      border: solid var(--color);
      border-width: 0 3px 3px 0;
      display: inline-block;
      width: 10px;
      height: 10px;
      transform: rotate(45deg);
    }

    .chevrondown:nth-child(odd) {
      animation: pulse54012 500ms ease infinite alternate;
    }

    .chevrondown:nth-child(even) {
      animation: pulse54012 500ms ease infinite alternate 250ms;
    }

    @keyframes pulse54012 {
      from {
        opacity: 0;
      }

      to {
        opacity: 0.5;
      }
    }

    .container-intro {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 0px 30px;
      grid-template-areas:
        "introduccion general"
        "introduccion especificos"
        "introduccion especificos";
    }

    /* media query container info */
    @media (max-width: 768px) {
      .container-intro {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr max-content max-content;
        gap: 0px 30px;
        grid-template-areas:
          "introduccion"
          "general"
          "especificos";
      }
    }
    .general {
      grid-area: general;
    }
    .introduccion {
      grid-area: introduccion;
    }
    .especificos {
      grid-area: especificos;
    }

    .flip-card {
      background-color: transparent;
      width: 500px;
      height: 600px;
      perspective: 1000px;
      font-family: sans-serif;
      margin-block: 20px;
      padding-inline: 10px;
    }

    .title {
      font-size: 1.5em;
      font-weight: 900;
      text-align: center;
      margin: 0;
    }

    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }

    .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
    }

    .flip-card-front,
    .flip-card-back {
      box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      border: 1px solid gray;
      border-radius: 1rem;
      padding-inline: 40px;
    }

    .flip-card-front {
      background: linear-gradient(to right, #ffffff, #e6e6e6);
      color: black;
    }

    .flip-card-back {
      background: linear-gradient(
        to right,
        #ffffff,
        #e6e6e6
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      color: black;
      transform: rotateY(180deg);
    }
  </style>
</Layout>
