---
// import Accessories from "../components/Accessories.astro";
// import HeroSection from "../components/HeroSection.astro";
// import LandingHeader from "../components/LandingHeader.astro";
// import ModelS from "../components/ModelS.astro";
// import ModelThree from "../components/ModelThree.astro";
// import ModelX from "../components/ModelX.astro";
// import ModelY from "../components/ModelY.astro";
// import PowerWall from "../components/PowerWall.astro";
import { Callout, CalloutProps,  } from "@tremor/react";
import { ExclamationIcon, CheckCircleIcon, InformationCircleIcon, XCircleIcon, ExclamationCircleIcon } from "@heroicons/react/solid";
import Layout from "../layouts/Layout.astro";
import Table from './../components/Table.tsx'

type Norma = {
  description: string;
  color: CalloutProps["color"];
  icon: any;
}

const normas: Norma[] = [
  {
    description: 'No se podrá ingresar elementos diferentes a los necesarios para la realización de las prácticas establecidas.',
    color: 'red',
    icon: XCircleIcon,
  },
  {
    description: 'No se debe consumir bebidas o ningún tipo de alimento dentro del laboratorio.',
    color: 'red',
    icon: XCircleIcon,
  },
  {
    description: 'El uso de la bata es obligatorio.',
    color: 'sky',
    icon: InformationCircleIcon,
  },
  {
    description: 'La ropa y el calzado deben ser siempre adecuados y deben cubrir la mayor parte del cuerpo.',
    color: 'sky',
    icon: InformationCircleIcon,
  },
  {
    description: 'Evitar el uso de accesorios o prendas como pulseras, relojes o anillos.',
    color: 'yellow',
    icon: ExclamationIcon,
  },
  {
    description: 'Es obligatorio el uso de los diferentes elementos de seguridad como gafas, guantes y máscaras, que protegen de los riesgos que puedan llegar a ocurrir.',
    color: 'fuchsia',
    icon: ExclamationCircleIcon,
  },
  {
    description: 'Antes de hacer uso de cualquier sustancia, verificar las etiquetas y fichas de seguridad.',
    color: 'fuchsia',
    icon: ExclamationCircleIcon,
  },
  {
    description: 'Al momento de almacenar sustancias, los envases siempre deben ser rotulados.',
    color: 'sky',
    icon: InformationCircleIcon,
  },
  {
    description: 'No ingerir ninguna sustancia y en caso de contacto con la piel o con los ojos, proceder a retirar con abundante agua e informar a la persona encargada inmediatamente.',
    color: 'red',
    icon: ExclamationIcon,
  },
  {
    description: 'Al momento de almacenar sustancias, asegurarse de separar los no compatibles, los productos inflamables deben estar separados de los ácidos, bases y reactivos oxidantes, y los envases deben estar en un lugar donde no corran riesgo de caer y romperse.',
    color: 'fuchsia',
    icon: ExclamationCircleIcon,
  },
  {
    description: 'En caso de emergencia, conocer la ubicación de los extintores, duchas de emergencia, lavamanos de seguridad y rutas de evacuación.',
    color: 'sky',
    icon: ExclamationCircleIcon,
  },
  {
    description: 'Informar cualquier incidente o accidente que ocurra en el laboratorio a los docentes o encargados.',
    color: 'sky',
    icon: InformationCircleIcon,
  },
  {
    description: 'Mantener el área de trabajo ordenada y limpia, recoger y desechar correctamente los residuos generados.',
    color: 'fuchsia',
    icon: ExclamationCircleIcon,
  },
  
]

const pictogramasPeligrosos = [
  {
    title: 'Explosivos',
    image: '/assets/img/pictograma-laboratorio-explosivo.jpg',
    items: [
      {
        description: 'Explosivos',
      }
    ],
    meaning: [
      {
        description: 'Explosivos',
      }
    ],
    findExamples: [
      {
        description: 'Explosivos',
      }
    ],
    tipsExample: [
      {
        description: 'Explosivos',
      }
    ]
  }
]

---

<Layout title="Sistema interno para el manejo de residuos peligrosos">
  <!-- <LandingHeader /> -->

  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
  >
    <div class="snap-center">
      <section class="h-screen w-screen overflow-hidden relative">
        <div class="z-30 relative w-screen h-full flex flex-col">
          <header class="flex flex-grow justify-center items-end">
            <div class="p-6 bg-black opacity-80 rounded-lg">
              <h2 class="text-center text-white text-6xl font-bold">SISTEMA INTERNO PARA EL MANEJO <br> DE <br> RESIDUOS PELIGROSOS</h2>
            </div>
          </header>
          <footer class="flex flex-grow justify-end items-center flex-col mb-24">
            <div class="p-2 bg-black opacity-80 rounded-3xl">

              <div class="scrolldown" style="--color: skyblue">
                <div class="chevrons">
                    <div class="chevrondown"></div>
                    <div class="chevrondown"></div>
                </div>
              </div>
            </div>
          </footer>
        </div>
        <div class="absolute top-0 bottom-0 w-full h-full z-10">
          <video class="object-center object-cover w-full h-full" autoplay muted loop src="/video.webm"></video>
        </div>
      </section>
    </div>
    <div class="snap-center">
      <section class="h-screen w-screen overflow-hidden relative container-intro">
        <div class="introduccion ">
          <div class="mt-5 md:mt-8 pb-14 w-11/12 rounded-xl overflow-hidden mx-auto" style="box-shadow: 0px 0px 64px -22px #1C50E6;">
            <header class="bg-[#1843BF] text-white p-5 text-center text-xl">
              <h2>
                INTRODUCCIÓN
              </h2>
            </header>
            <main class="p-5">
              <p>El correcto manejo de residuos peligrosos es una prioridad actualmente en cualquier lugar donde se generen, es un requisito de cada institución, organización, empresa, industria, entre otros contar con un desempeño solido en el control de los impactos de actividades, productos y servicios sobre el medio ambiente, de acuerdo con su política y objetivo ambiental. El manejo adecuado de los productos químicos residuales es un punto importante en la conservación de la naturaleza específicamente en la protección del aire, el agua y el suelo, de igual manera es crucial para preservar el bienestar físico de cada individuo. <br> Este sistema de manejo está destinado principalmente a guiar a las partes responsables a preservar su integridad física, las de los demás y la naturaleza que les rodea, a mitigar posibles accidentes dentro las instalaciones de los laboratorios, identificar los riesgos de un mal manejo de los residuos, tener claridad de los efectos de cada reactivo y su nivel de peligrosidad, todo esto amparado bajo el marco legal vigente del decreto 1076 2015, decreto 1496 de 2018 y la política ambiental de la universidad de Cartagena del del acuerdo N°6 del 22 de febrero de 2018. 
              </p>
            </main>
            <div class="md:w-48 md:mx-auto md:block hidden">
              <img src="/assets/img/intro.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="general">
          <div class="mt-5 md:mt-8 h-5/6 w-11/12 rounded-xl overflow-hidden mx-auto" style="box-shadow: 0px 0px 64px -22px #1C50E6;">
            <header class="bg-[#1843BF] text-white p-5 text-center text-xl">
              <h2>
                OBJETIVO GENERAL
              </h2>
            </header>
            <footer class="p-5">
              <p>Informar a cada individuo que haga uso de las instalaciones, sobre el protocolo de manejo de residuos peligrosos dentro del laboratorio de Ingeniería Química del Campus Piedra de Bolívar, con el fin de evitar riesgos y accidentes. </p>
            </footer>
          </div>
        </div>
        <div class="especificos">
          <div class="mt-5 md:mt-8 h-5/6 w-11/12 rounded-xl overflow-hidden mx-auto" style="box-shadow: 0px 0px 64px -22px #1C50E6;">
            <header class="bg-[#1843BF] text-white p-5 text-center text-xl">
              <h2>
                OBJETIVOS ESPECÍFICOS
              </h2>
            </header>
            <main class="p-5">
              <ol class="list-decimal list-inside space-y-2">
                <li>Identificar y caracterizar las sustancias y residuos que se generan dentro del laboratorio, para una correcta manipulación al momento de desecharlos.</li>
                <li>Comprender cada una de las etapas de la gestión de residuos: segregación, movimiento interno, almacenamiento y disposición final.</li>
                <li>Distinguir los espacios y elementos estipulados para el almacenamiento de desechos.</li>
                <li>Reconocer los diferentes pasos a seguir en caso de emergencia, según su origen.</li>
              </ol>              
            </main>
          </div>
        </div>
      </section>
    </div>
    <div class="snap-center">
      <section class="mx-auto px-4 py-8 h-screen w-screen overflow-hidden">
        <h1 class="text-3xl text-center text-[#1843BF] font-bold mb-4">Normas básicas de seguridad a seguir dentro del laboratorio</h1>
        <p class="mb-8 text-center">Todas las normas mencionadas a continuación son importantes y se deben cumplir correctamente para evitar que ocurran accidentes dentro del laboratorio.</p>
    
        <div class="grid max-w-7xl mx-auto overflow-y-scroll grid-cols-[repeat(auto-fill,minmax(220px,1fr))] gap-4">
          {normas.map((norma) => (
            <Callout title='' icon={norma.icon} color={norma.color}>
              {norma.description}
            </Callout>
          ))}
        </div>
      </section>
      
    </div>
    <div class="snap-center">
      <section class="mx-auto px-4 py-8 h-screen w-screen overflow-hidden">
        <Table />
      </section>
    </div>
    <div class="snap-center">
      <section class="mx-auto px-4 py-8 h-screen w-screen overflow-hidden">
        
        <h1 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl"><span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">PICTOGRAMAS DE PELIGROS</span></h1>
        <p>Los pictogramas de peligro químico son símbolos gráficos utilizados para indicar los riesgos asociados al uso de sustancias químicas. Estos pictogramas se utilizan en los envases de sustancias o mezclas químicas con el fin de advertir a los usuarios sobre los peligros físicos y los riesgos para la salud que pueden presentar</p>
        <swiper-container slides-per-view="3" speed="500" loop="true" css-mode="true" navigation="true" class="px-12 max-w-screen-2xl gap-4">
        <swiper-slide>
        </swiper-slide>
          <swiper-slide>
            <div class="flip-card">
              <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <div class="w-3/6 mx-auto">
                      <img src={pictogramasPeligrosos[0].image} alt="Pictograma peligroso">
                    </div>
                      <h3 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">{pictogramasPeligrosos[0].title}</h3>
                      <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
                      {
                        pictogramasPeligrosos[0].items.map((item) => (
                          <li>
                              {item.description}
                          </li>
                          ))
                      }
                        </ul>
                  </div>
                  <div class="flip-card-back">
                    <div>
                      <h3 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">¿Qué Significa?</h3>
                      <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
                      {
                        pictogramasPeligrosos[0].meaning.map((item) => (
                          <li>{item.description}</>
                        ))
                      }
                      </ul>
                    </div>
                    <div class="border-t"></div>
                    <div>
                      <h3 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Ejemplos de dónde pueden encontrarse</h3>
                      <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
                      {
                        pictogramasPeligrosos[0].findExamples.map((item) => (
                          <li>{item.description}</li>
                        ))
                      }
                      </ul>
                    </div>
                    <div class="border-t"></div>
                    <div>
                      <h3>Ejemplos de consejos de prudencia</h3>
                      {
                        pictogramasPeligrosos[0].tipsExample.map((item) => (
                          <p>{item.description}</p>
                        ))
                      }
                    </div>
                  </div>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="bg-transparent w-48 h-64 perspective-1000 font-sans">
              <div class="text-center transition-transform transform-style-preserve-3d hover:rotate-y-180">
                <div class="shadow-lg absolute flex flex-col justify-center w-full h-full backface-hidden border border-coral rounded-lg bg-gradient-to-br from-bisque to-rgb(255, 211, 195)">
                  <p class="text-2xl font-extrabold mb-2">FLIP CARD</p>
                  <p>Hover Me</p>
                </div>
                <div class="shadow-lg absolute flex flex-col justify-center w-full h-full backface-hidden border border-coral rounded-lg bg-gradient-to-br from-rgb(255, 174, 145) to-coral transform rotate-y-180">
                  <p class="text-2xl font-extrabold mb-2">BACK</p>
                  <p>Leave Me</p>
                </div>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide>Slide 2</swiper-slide>
          <swiper-slide>Slide 2</swiper-slide>
          <swiper-slide>Slide 3</swiper-slide>
        </swiper-container>
      </section>
    </div>
    <div class="snap-center">
    </div>
    <div class="snap-center">
    </div>
    <div class="snap-center">
    </div>
  </main>
</Layout>

<style>
  /* table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  th {
    background-color: #f2f2f2;
  } */

  .title{
    font-size: 3rem;
    font-weight: 700;
    color: transparent;
    background-image: linear-gradient(180deg, #A6F71B, #309409);
    background-clip: text;
    -webkit-background-clip: text;
    letter-spacing: -0.015em;
  }

  .scrolldown {
  --color: white;
  --sizeX: 30px;
  --sizeY: 50px;
  position: relative;
  width: var(--sizeX);
  height: var(--sizeY);
  margin-left: var(sizeX / 2);
  border: calc(var(--sizeX) / 10) solid var(--color);
  border-radius: 50px;
  box-sizing: border-box;
  margin-bottom: 16px;
  cursor: pointer;
}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color);
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #2a547066;
}

img {
  mix-blend-mode: multiply;
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }

  40% {
    opacity: 1;
    height: 10px;
  }

  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }

  100% {
    height: 3px;
    opacity: 0;
  }
}

.chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.chevrondown:nth-child(odd) {
  animation: pulse54012 500ms ease infinite alternate;
}

.chevrondown:nth-child(even) {
  animation: pulse54012 500ms ease infinite alternate 250ms;
}

@keyframes pulse54012 {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}

.container-intro {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 30px; 
  grid-template-areas: 
    "introduccion general"
    "introduccion especificos"
    "introduccion especificos"; 
}
.general { grid-area: general; }
.introduccion { grid-area: introduccion; }
.especificos { grid-area: especificos; }

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px;
  font-family: sans-serif;
  margin-block: 20px;
  padding-inline: 10px;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid gray;
  border-radius: 1rem;
}

.flip-card-front {
  background: linear-gradient(to right, #FFFFFF, #E6E6E6);
  color: black;
}

.flip-card-back {
  background: linear-gradient(to right, #FFFFFF, #E6E6E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
  transform: rotateY(180deg);
}
</style>